.header {
	margin-top: 2rem;
	margin-bottom: -1rem;
	margin-left: 2rem;
	align-self: flex-start;
	display: flex;
	column-gap: 0.5rem;
}

.img {
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 20%;
}

.title {
	font-size: 1.5rem;
}
